.header{
    background-color: #F4F9E2;
    height: 840px;
}

.header_wrapper{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu_wrapper{
    display: flex;
    gap: 50px
}

.contant_btn{
    background-color: #F9B640;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    color: white
}

.header_title_wrapper{
    margin-left: 100px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}